html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #edeff0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #00B7FF;
}
.tableOptions {
  display: inline-block;
  text-align: right;
}

.app {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    padding: 25px;
    margin-top: 25px;
}


.btn {
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

.btn:hover {
  background-color: blue;
}

.tableContainer {
  overflow-y: scroll;

}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

th{
  vertical-align: middle;
  text-align: center;
}

td {
  text-align: left;
  vertical-align: middle;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}
